- name: Run bot
  env:
    AMAZON_ACCESS_KEY: ${{ secrets.AMAZON_ACCESS_KEY }}
    AMAZON_SECRET_KEY: ${{ secrets.AMAZON_SECRET_KEY }}
    AMAZON_PARTNER_TAG: ${{ secrets.AMAZON_PARTNER_TAG }}
    TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
    TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
  run: python bot.py
