name: Bot Shopee Telegram

on:
  workflow_dispatch:
  schedule:
    - cron: "0 11-23 * * *"
    - cron: "0 0-2 * * *"

jobs:
  run:
    runs-on: ubuntu-latest

    env:
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      SHOPEE_AFILIADO_BASE: ${{ secrets.SHOPEE_AFILIADO_BASE }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install requests
      - run: python bot.py
