- name: Executar bot
  run: |
    python bot.py
  env:
    AMAZON_ACCESS_KEY: ${{ secrets.AMAZON_ACCESS_KEY }}
    AMAZON_SECRET_KEY: ${{ secrets.AMAZON_SECRET_KEY }}
    AMAZON_PARTNER_TAG: ${{ secrets.AMAZON_PARTNER_TAG }}
