name: Bot Amazon Telegram

on:
  schedule:
    - cron: "0 11-23 * * *"
    - cron: "0 0-2 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install amazon-paapi requests
      - run: python bot.py
